body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    margin: 1em 0;
    font-size: 200%;
}

p {
    display: inline;
    margin: 0.5em;
}

button {
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 0.5em;
}

#head {
    display: flex;
    justify-content: space-between;
}

#highScoreButton {
    margin: 0.5em;
}


#quizBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startButton {
    width: 10em;
    margin: 1em auto;
}

div.questionContainer {
    display: block;
    width: 50%;
    text-align: left;
    display: none;
    margin-top: 2em
}

li button {
    margin: 0.5em 0;
}

#right-wrong {
    margin: 2em 25%;
    text-align: center;
    width: 50%;
    border-top: 2px solid grey;
    font-style: italic;
    font-weight: lighter;
    color: grey;
    display: none;
    
}

#initialsPrompt {
    text-align: center;
    margin-left: 40%;
    display: none;
}

#scoreboard {
    text-align: center;
    display: none;
}

#scoreList li {
    margin: auto;
    width: 30%;
    border: 1px solid purple;
    border-collapse: collapse;
}